:root {
    --main-bg-color: rgb(0, 0, 0);
    --main-text-color: white;
    --main-button-text-color: white;
    --main-button-bg-color: rgb(54, 54, 54);
    --main-button-bg-hover-color: #74be95;
    --main-progress-download-color: rgb(28, 73, 110);
    --main-button-text-hover-color: rgb(0, 0, 0);
    --main-button-bg-focus-color: rgb(49, 119, 49);
    --main-button-text-focus-color: black;
    --main-button-hover-width: 400px;
    --main-button-text-hover-width: 390px;
    --main-button-hover-align: right;
    --main-progress-background-color: rgb(49, 49, 49);
    --main-progress-foreground-color: rgb(41, 109, 47);
    --main-progress-text-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 1280px;
    height: 720px;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    transition: 1000ms linear;
    -webkit-transition: 1000ms linear;
}

#title {
    font-style: bold;
    padding: 10px;
}

#mainMenu {
    transition: 1000ms linear;
    -webkit-transition: 1000ms linear;
}

#buttons>button {
    padding: 12px 26px;
    margin: 10px 0;
    display: block;
    width: 275px;
    height: 90px;
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    border: none;
    clip-path: polygon(95% 0, 100% 38%, 95% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(95% 0, 100% 38%, 95% 100%, 0 100%, 0 0);
    position: relative;
    z-index: 1;
    transition:100ms linear;
    -webkit-transition:100ms linear;
    background-image: linear-gradient(215deg, rgb(38, 95, 38), rgb(68, 167, 68));
}

#buttons>button div {
    position: absolute;
    display: inline;
    top: 5px;
    left: 5px;
    width: 265px;
    height: 80px;
    text-align: right;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    background-color: var(--main-button-bg-color);
    color: var(--main-text-color);
    border: none;
    clip-path: polygon(95% 0, 100% 38%, 95% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(95% 0, 100% 38%, 95% 100%, 0 100%, 0 0);
    z-index: 1;
    transition:100ms linear;
    -webkit-transition:100ms linear;
}

#buttons>button text {
    position: relative;
    display: block;
    top: 5px;
}

.active>div {
    background-color: var(--main-button-bg-hover-color) !important;
    color: var(--main-button-text-hover-color) !important;
    width: var(--main-button-text-hover-width) !important;
    background-color:rgb(68, 167, 68);
}

.active,
#buttons>button:hover {
    background-color: rgb(49, 119, 49) !important;
    color: var(--main-button-hover-color) !important;
    width: var(--main-button-hover-width) !important;
}

#buttons>button:active {
    background-color: var(--main-button-bg-focus-color) !important;
    color: var(--main-button-text-focus-color) !important;
}

.desc-container {
    margin: 0 auto;
    width: 90%;
    padding: 10px 15px;
    border: 2px solid white;
    transform: skew(-5deg, 0deg);
}

#btn-desc {
    padding: 5px 0px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

#progressSection {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#progressParentParent {
    margin-left:170px;
    height: 83px;
    width: 900px;
    background-color: rgb(38, 95, 38);
    clip-path: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
    -webkit-clip-path: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
}

#progressParent {
    position: relative;
    height: 73px;
    top: 5px;
    left: 5px;
    width: 890px;
    background-color: var(--main-progress-background-color);
    clip-path: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
    -webkit-clip-path: polygon(1% 0, 100% 0, 99% 100%, 0 100%);
}

#progress {
    height: 100%;
    width: 10%;
    background-color: #74be95;
    transition:50ms linear;
    -webkit-transition:50ms linear;
}

#progressText {
    margin: 10px 0;
    color: var(--main-progress-text-color);
    font-size: 1.4rem;
}

#changelog {
    display: block;
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 20px;
}

#changelogContents {
    font-size: 1.5rem;
}

.grid-container {
    display: flex;
    grid-template-columns: 384px 896px;
    grid-gap: 89.6px;
    align-items: center;
}

.sidebar {
    max-width: 384px;
    min-width: 384px;
}

.image-area {
    max-width: 896px;
    min-width: 896px;
}

.flex-container {
    width: 100%;
    display: none;
    /* flex-direction: row; */
    background-color: transparent;
}

.flex-item {
    position: relative;
    display: block;
    margin-bottom: 1%;
    height: 80px;
    border: 3px solid black;
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.flex-item>.item-container {
    width: 100%;
    display: block;
    background-color: transparent;
    padding: 20px;
    padding-bottom: 22px;
}

.flex-item>.icon-background::before {
    content: '';
}

.option-active>.icon-background {
    background-color: var(--main-button-bg-hover-color);
    position: absolute;
    height: 74px;
    width: 76px;
}

.icon-background {
    background-color: grey;
    position: absolute;
    height: 74px;
    width: 76px;
}

.flex-item img {
    z-index: 0;
    width: 52px;
    position: absolute;
    background-color: grey;
    left: 7px;
    top: 10px;
}

.option-active img {
    z-index: 0;
    width: 52px;
    position: absolute;
    background-color: var(--main-button-bg-hover-color) !important;
    left: 7px;
    top: 10px;
}

.flex-item h2 {
    margin: 0;
    line-height: 1.6;
    margin-left: 56px;
}


li {
    font-size: inherit;
    margin-left: 40px;
    list-style-type: disc;
}

a {
    color: teal;
    text-decoration: none;
    pointer-events: none;
}

strong {
    color: rgb(45, 167, 66)
}